<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">
          We do healthcare and edtech projects. We can start by analyzing your
          current solutions and suggesting improving to your processes and
          pipelines and then go deeped up to creating parts of or entirety of
          solution for you.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">CI/CD</h4>
        <p class="text-muted">
          We will help you setup your CI/CD process in days, making sure that
          the application is properly and reliably built and deployed in a
          scalable fashion.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Agile</h4>
        <p class="text-muted">
          We will help you set up agile processes and make sure that no item
          falls through the cracks.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-money fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Sales</h4>
        <p class="text-muted">
          We will help you establish sales processes as they are. Analyze and
          improve your existing sales pitches, sequences, marketing matherials,
          prepare for road shows, conferences and events.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Software development</h4>
        <p class="text-muted">
          We will help you create or improve your software development
          processes. Architecture, database design, technology choices, managing
          tech debt and roadmaps.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">3d design</h4>
        <p class="text-muted">
          We can create your 3d models, renders and scenes.
        </p>
      </div>
    </div>
  </div>
</section>
